# Anaylizing the Tiatinc Survial Record
## By: Aaron Pelton  Date: September 28, 2024
## A review of those who lived through the titanic accident. The project examines the ages of surviors and those lost.  The project also considers what class the passagners were in.

In [3]:
import jupyterlab
import numpy
import pandas as pd
import pyarrow
import matplotlib as plt
import seaborn as sns

In [4]:
# Load the Titanic dataset into DataFrame
df = sns.load_dataset('titanic')

# Inspect first rows of the DataFrame
print(df.head(10))

   survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0         0       3    male  22.0      1      0   7.2500        S   Third
1         1       1  female  38.0      1      0  71.2833        C   First
2         1       3  female  26.0      0      0   7.9250        S   Third
3         1       1  female  35.0      1      0  53.1000        S   First
4         0       3    male  35.0      0      0   8.0500        S   Third
5         0       3    male   NaN      0      0   8.4583        Q   Third
6         0       1    male  54.0      0      0  51.8625        S   First
7         0       3    male   2.0      3      1  21.0750        S   Third
8         1       3  female  27.0      0      2  11.1333        S   Third
9         1       2  female  14.0      1      0  30.0708        C  Second

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
5    man        True  NaN   Queenstown    no   True
6    man        True    E  Southampton    no   True
7  child       False  NaN  Southampton    no  False
8  woman       False  NaN  Southampton   yes  False
9  child       False  NaN    Cherbourg   yes  False

In [9]:

print(df.shape)
#print(df.dtypes)

(891, 15)

In [19]:
# Count the number of female passengers
fcount = (df['sex'] == 'female').sum()  
print(f"Number of females: {fcount}")

Number of females: 314

In [20]:
# Count the number of male passengers
mcount = (df['sex'] == 'male').sum()  
print(f"Number of males: {mcount}")

Number of males: 577

In [22]:
# Count the number of children passengers
ccount = (df['who'] == 'child').sum()  
print(f"Number of children: {ccount}")

Number of children: 83